p-datatable .ui-datatable .ui-state-default.ui-unselectable-text.ui-sortable-column.ui-resizable-column  {
    background-color: lightgrey;
}
p-datatable .ui-datatable .ui-datatable-data tr.ui-datatable-even {
   background-color: white;
   cursor: pointer;

   td{
       text-align: center;
   }
}

p-datatable .ui-datatable .ui-datatable-data tr.ui-datatable-odd {
   background-color: white;
   cursor: pointer;

   td{
       text-align: center;
   }
}
p-datatable .ui-datatable .ui-datatable-data tr.ui-datatable-even:hover,    
p-datatable .ui-datatable .ui-datatable-data tr.ui-datatable-odd:hover{
    background-color: #ddd;
}
p-datatable .ui-datatable .ui-datatable-thead>tr>th, .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
}

p-datatable .ui-datatable .ui-datatable-thead>tr> th, .ui-datatable .ui-datatable-tfoot>tr>td {
    background-color: lightgrey;
} 

p-datatable .ui-datatable .ui-datatable-data tr.ui-datatable-even.ui-state-highlight {
    background-color: lightblue;
    color: #212529;
    border-color: lightblue;
}

p-datatable .ui-datatable .ui-datatable-data tr.ui-datatable-odd.ui-state-highlight {
    background-color: lightblue;
    color: #212529;
    border-color: lightblue;
}