<div [ngSwitch]="multiselect">
  <ng-template [ngSwitchCase]="true">
    <p-dataTable [value]="devices" [rows]="20" [paginator]="isPaging()" [sortMode]="'multiple'" [(selection)]="selectedDevices"
      dataKey="id" [loading]="loading" loadingIcon="fa-spinner" #dt>
      <p-column selectionMode="multiple"></p-column>
      <p-column field="id" header="Id" sortable="true"></p-column>
      <p-column field="inventoryNumber" header="Inventarnummer" sortable="true"></p-column>
      <p-column field="title" header="Titel" sortable="true"></p-column>
      <p-column field="type" header="Typ" sortable="true"></p-column>
      <p-column field="location" header="Ort" sortable="true"></p-column>
      <p-column field="state" header="Status" sortable="true"></p-column>
      <ng-template pTemplate="emptymessage">
        Es wurden keine Inventargegenstände gefunden.
      </ng-template>
    </p-dataTable>
    <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV({selectionOnly:true})"></button>
  </ng-template>
  <ng-template [ngSwitchCase]="false">
    <p-dataTable [value]="devices" [rows]="20" [paginator]="isPaging()" [sortMode]="'multiple'" [loading]="loading" loadingIcon="fa-spinner"
      #dt>
      <p-column field="id" header="Id" sortable="true"></p-column>
      <p-column field="inventoryNumber" header="Inventarnummer" sortable="true"></p-column>
      <p-column field="title" header="Titel" sortable="true"></p-column>
      <p-column field="type" header="Typ" sortable="true"></p-column>
      <p-column field="location" header="Ort" sortable="true"></p-column>
      <p-column field="state" header="Status" sortable="true"></p-column>
      <ng-template pTemplate="emptymessage">
        Es wurden keine Inventargegenstände gefunden.
      </ng-template>
    </p-dataTable>
    <button type="button" pButton icon="fa-file-o" iconPos="left" label="CSV" (click)="dt.exportCSV()"></button>
  </ng-template>
</div>
<button (click)="toggleMultiselect()">Bulk Mode</button>