<div class="container">
  <h4 *ngIf="device.id >= 0">
    Device - {{device.id}}
  </h4>
  <h4 *ngIf="device.id == -1">
    Device neu anlegen:
  </h4>
  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" [(ngModel)]="device.title" pInputText>
    <label for="float-input">Name</label>
  </span>
  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" [(ngModel)]="device.location" pInputText>
    <label for="float-input">Ort</label>
  </span>
  <span class="ui-float-label">
    <input id="float-input" type="text" size="30" [(ngModel)]="device.comment" pInputText>
    <label for="float-input">Comment</label>
  </span>
  <button *ngIf="device.id >= 0" class="waves-effect waves-light btn" (click)="save()">Save</button>
  <button *ngIf="device.id >= 0" class="waves-effect waves-light btn" (click)="delete()">Delete</button>
  <button *ngIf="device.id == -1" class="waves-effect waves-light btn" (click)="saveNew()">Anlegen</button>
</div>
