<div class="container">
  <h4 *ngIf="item.id >= 0">
    Item - {{item.id}}
  </h4>
  <h4 *ngIf="item.id == -1">
    item neu anlegen:
  </h4>
  <ngx-barcode [bc-value]="item.barcode" [bc-display-value]="true"></ngx-barcode>
  <div class="input-field">
    <input id="float-input" type="text" size="30" [(ngModel)]="item.title" pInputText>
    <label for="float-input" [ngClass]="{'active': item?.title}">Name</label>
  </div>
  <div class="input-field">
    <input id="float-input" type="text" size="30" [(ngModel)]="item.location" pInputText>
    <label for="float-input" [ngClass]="{'active': item?.location}">Ort</label>
  </div>
  <div class="input-field">
    <input id="float-input" type="text" size="30" [(ngModel)]="item.comment" pInputText>
    <label for="float-input" [ngClass]="{'active': item?.comment}">Comment</label>
  </div>
  <button *ngIf="item.id >= 0" class="waves-effect waves-light btn" (click)="save()">Save</button>
  <button *ngIf="item.id >= 0" class="waves-effect waves-light btn" (click)="delete()">Delete</button>
  <button *ngIf="item.id == -1" class="waves-effect waves-light btn" (click)="saveNew()">Anlegen</button>
</div>