<div class="header">
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo" routerLink="/">MyLab</a>
      <a materialize="sideNav" href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li [routerLinkActive]="'active'">
          <a routerLink="/devices">Inventar</a>
        </li>
        <li [routerLinkActive]="'active'">
          <a routerLink="/categories">Kategorien</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li [routerLinkActive]="'active'">
          <a routerLink="/devices">Inventar</a>
        </li>
        <li [routerLinkActive]="'active'">
          <a routerLink="/categories">Kategorien</a>
        </li>
      </ul>
    </div>
  </nav>
  <p-growl [(value)]="msgs"></p-growl>
</div>
<router-outlet></router-outlet>