<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" routerLink="/">MyLab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" routerLink="/devices">Inventar</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" routerLink="/categories">Kategorien</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" routerLink="/device">Neuer Inventargegenstand</a>
        </li>
        <li class="nav-item" [routerLinkActive]="'active'">
          <a class="nav-link" routerLink="/category">Neue Kategorie</a>
        </li>
      </ul>
      <p-autoComplete [(ngModel)]="searchstring" [suggestions]="devices" (completeMethod)="searchForBarcode($event)" field="title"></p-autoComplete>
    </div>
  </nav>
  <p-growl [(value)]="msgs"></p-growl>
</div>

<router-outlet></router-outlet>
