<div class="container">
  <h4 *ngIf="category.id >= 0">
    Kategorie - {{category.id}}
  </h4>
  <h4 *ngIf="category.id == -1">
    Kategorie neu anlegen:
  </h4>
  <label>
    Name
    <input type="text" [(ngModel)]="category.name">
  </label>
  <label>
    Comment
    <input type="text" [(ngModel)]="category.comment">
  </label>
  <button *ngIf="category.id >= 0" class="waves-effect waves-light btn" (click)="save()">Save</button>
  <button *ngIf="category.id >= 0" class="waves-effect waves-light btn" (click)="delete()">Delete</button>
  <button *ngIf="category.id == -1" class="waves-effect waves-light btn" (click)="saveNew()">Anlegen</button>
</div>
