<div class="container">
  <h4 *ngIf="category.id >= 0">
    Kategorie - {{category.title}}: {{category.deviceCount}}
  </h4>
  <h4 *ngIf="category.id == -1">
    Kategorie neu anlegen:
  </h4>
  <div class="input-field">
    <input id="float-input" type="text" size="30" [(ngModel)]="category.title" pInputText>
    <label for="float-input">Titel</label>
  </div>
  <div class="input-field">
    <input id="float-input" type="text" size="30" [(ngModel)]="category.comment" pInputText>
    <label for="float-input">Kommentar</label>
  </div>
  <button *ngIf="category.id >= 0" class="waves-effect waves-light btn" (click)="save()">Save</button>
  <button *ngIf="category.id >= 0" class="waves-effect waves-light btn" (click)="delete()">Delete</button>
  <button *ngIf="category.id == -1" class="waves-effect waves-light btn" (click)="saveNew()">Anlegen</button>
</div>